@use '../../Utilities' as *;

.about-background-wrapper {
  position: relative;
  max-width: 58rem;
  margin: auto;

  &::before {
    content: '';
    width: 175%;
    height: 250%;
    top: -50%;
    left: 33%;
    position: absolute;
    z-index: 1;
    background-color: $bg-color-black;
    transform: rotate(20deg) translateX(-50%);
    opacity: .8;
    display: none;

    @include respond(medium) {
      display: block;
    }
  }
}

.about-container {
  position: relative;
  line-height: 2;
  margin-bottom: 5rem;
  z-index: 100;

  .about-content {
    position: relative;
    z-index: 1;
    padding: 2rem;
    background: rgba($bg-color-black, .7);
    margin-top: 2rem;
    border-radius: 16px;

    @include respond(medium) {
      background: transparent;
    }

    h2 {
      font-size: $font-size-section-heading;
      text-transform: lowercase;
      font-weight: 500;
      color: transparent;
      background: linear-gradient(to right, $color-secondary, transparent 125%);
      background-clip: text;
      width: fit-content;
      padding-bottom: 3rem;
    }

    h3 {
      font-size: 1.75rem;
      font-weight: 100;
      color: #999;
      width: fit-content;
      padding-right: 5rem;
      margin-bottom: 0.5rem;

    }

    .general {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      gap: 2.5rem;
      font-weight: 200;

      p:first-child {
        font-weight: 400;
      }
    }

    .about-section {
      margin: 5rem 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      @include respond(small) {
        grid-template-columns: 2fr 1fr;
      }
    }

    .techStack {
      font-weight: 300;
    }

    .techStack-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
      max-width: 35rem;
      margin: auto;

      @include respond(small) {
        grid-template-columns: repeat(2, 1fr);
      }

      div {
        aspect-ratio: 1;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1f1f1f;
        border-radius: 8px;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          padding: 1rem;
        }
      }
    }
  }
}