@use '../../Utilities' as *;

.work-container {
  position: relative;
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: $drop-shadow-white-20 $drop-shadow-white-20-invert;


  .content-container {
    position: relative;
    z-index: 1;
    background-color: $bg-color-dark-grey;
    clip-path: polygon(0 $polygon-small-low, 100% 0, 100% 100%, 0 $polygon-small-high);
    padding: 15rem 0 20rem 0;
    width: 100%;

    @include respond(desktop-lg) {
      clip-path: polygon(0 $polygon-big-low, 100% 0, 100% 100%, 0 $polygon-big-high);
      padding: 30rem 0;
    }
  }

  .work-heading-container {
    max-width: 110rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;

    h2 {
      font-size: $font-size-section-heading;
      text-transform: lowercase;
      padding: 2rem;
      font-weight: 500;
      color: transparent;
      background: linear-gradient(to right, $color-primary, #111);
      background-clip: text;
    }
  }

  .github-container {
    max-width: 100rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    padding-bottom: 4rem;
  }

}