@use '../../../Utilities' as *;

.btn {
  position: relative;
  font-size: 1.75rem;
  text-transform: lowercase;
  padding: 2rem 4rem;
  max-width: fit-content;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: $text-color-light;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 4px;
    background: linear-gradient(to right, $color-secondary,
        $color-primary,
        $color-secondary);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    background-size: 200% 100%;
    background-position: 0% 50%;
    transition: all .5s ease;
  }

  &:hover {
    transform: translateY(-2px);

    &::before {
      filter:
        brightness(1.5);
      background-position: 100% 50%;
    }
  }

  &.pending {
    filter: hue-rotate(90deg);

    span {
      opacity: .5;
    }
  }

  &.pending::before {
    pointer-events: none;
    animation: border-spin 1.5s linear infinite;
  }
}

@keyframes border-spin {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}