@use '../../Utilities' as *;

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  font-size: 1.5rem;
  background-color: $bg-color-black;
  padding-top: 10rem;

  .backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all .5s;
    width: fit-content;
    margin: auto;
    background: linear-gradient(to right, #fff 0% 50%, $color-primary 50%, $color-secondary 100%);
    background-clip: text;
    color: transparent;
    background-size: 200%;
    background-position: 0%;

    &:hover {
      background-position: 100%;

      .arrowUp {
        transform: scale(1.2);
      }
    }


    .arrowUp {
      color: #fff;
      cursor: pointer;
      transition: all .5s;
    }
  }

  .footer-content {
    font-size: 1.25rem;
    color: #aaa;
    max-width: 125rem;
    margin: auto;
    padding: 2.5rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .withLove {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-bottom: 1rem;
    }

    .copyright {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: auto;
    }


    a {
      font-size: 2rem;
      display: flex;
      align-items: center;

      & *:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }

  }
}