@use 'sass:color';

// Dark Theme
$bg-color-black: #111;

$drop-shadow-color-white: rgba(255, 255, 255, 0.2);

$drop-shadow-white-20: drop-shadow(0 15px 0px $drop-shadow-color-white);
$drop-shadow-white-20-invert: drop-shadow(0 -15px 0px $drop-shadow-color-white);

$color-primary: #FFC300;
$color-secondary: #51D5BD;
$color-focus: #138ef9;

// Light Theme
$text-color-light: #f4f4f4;

$font-heading: 'Average_Sans', sans-serif;
$font-main: 'Alber_Sans', sans-serif;

$font-size-section-heading: 4rem;

$polygon-small-low: 7%;
$polygon-small-high: 93%;
$polygon-big-low: 25%;
$polygon-big-high: 80%;


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// ----- Media Queries -----

@mixin respond($breakpoint) {
  @if $breakpoint ==small {
    @media only screen and (min-width: 520px) {
      @content;
    }
  }

  @if $breakpoint ==landscape {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint ==medium {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint ==desktop-lg {
    @media only screen and (min-width: 1140px) {
      @content;
    }
  }

  @if $breakpoint ==desktop-xl {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}