@use 'sass:color';

// Dark Theme
$text-color-dark: #222;

$bg-color-black: #090909;
$bg-color-dark-grey: #0f0f0f;
$bg-color-grey: #1a1a1a;

$drop-shadow-color-white: rgba(255, 255, 255, 0.082);

$drop-shadow-white-20: drop-shadow(0 20px 0px $drop-shadow-color-white);
$drop-shadow-white-20-invert: drop-shadow(0 -20px 0px $drop-shadow-color-white);

$drop-shadow-white-40: drop-shadow(0 50px 1px $drop-shadow-color-white);
$drop-shadow-white-40-invert: drop-shadow(0 -50px 1px $drop-shadow-color-white);

$color-primary: #FFC300;
$color-secondary: #51D5BD;

$btn-color-primary: #FFC300;
$btn-color-secondary: #51D5BD;

// Light Theme
$text-color-light: #f4f4f4;

$bg-color-white: #fff;
$bg-color-dark-white: #eee;

$box-shadow-dark-10: 0 20px 5px rgba(0, 0, 0, 0.1);
$box-shadow-dark-10-invert: 0 -20px 5px rgba(0, 0, 0, 0.1);

$btn-color-primary-blue: #148ea9;

// General
$bg-color-work-descr: #555;

$font-heading: 'Average_Sans', sans-serif;
$font-main: 'Alber_Sans', sans-serif;

$font-size-section-heading: 4rem;

$polygon-small-low: 7%;
$polygon-small-high: 93%;
$polygon-big-low: 25%;
$polygon-big-high: 80%;

// Classes
.btn {
  position: relative;
  font-size: 1.75rem;
  text-transform: lowercase;
  padding: 2rem 4rem;
  max-width: fit-content;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  // border: 4px solid; // just the border, no background
  background-color: transparent;
  color: $text-color-light;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    transform: translateY(1px);
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0; // fill parent
    border-radius: 8px; // match parent
    padding: 4px; // border thickness
    background: linear-gradient(to right, $btn-color-secondary,
        $btn-color-primary,
        $btn-color-secondary);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    background-size: 200% 100%;
    background-position: 0% 50%;
    transition: all .5s ease;
  }



  &:hover {
    transform: translateY(-2px);

    &::before {
      filter:
        brightness(1.5);
      background-position: 100% 50%;
    }
  }
}

// ----- Media Queries -----

@mixin respond($breakpoint) {
  @if $breakpoint ==phone-xs {
    @media only screen and (max-width: 325px) {
      @content;
    }
  }

  @if $breakpoint ==landscape {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint ==medium {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint ==desktop-lg {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint ==desktop-xl {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}