@import '../../Utilities';

.contact-container {
  height: 100%;
  margin: auto;
  position: relative;
  filter: $drop-shadow-white-20-invert;

  @include respond(desktop-lg) {
    filter: $drop-shadow-white-40-invert;
  }

  .content-container {
    background-color: $bg-color-dark-grey;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(desktop-lg) {
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
      padding: 15rem 0 5rem 0;
    }
  }


  .contact-heading {
    text-align: center;

    h2 {
      font-family: $font-heading;
      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-size-section-heading;
    }
  }

  form {
    width: 90%;
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      input,
      textarea {
        padding: 1rem;
        border: none;
        border-radius: 4px;
      }
      textarea {
        min-height: 15rem;
      }
    }
  }
  .btn-contact {
    margin: 3rem 0 0 0;
    font-size: 2rem;
  }
}