@import '../../Utilities';

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  font-size: 1.5rem;
  background-color: $bg-color-dark-grey;

  .footer-content {
    width: 90%;
    max-width: 125rem;
    height: 10rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: 33%;
    }

    div:last-child {
      text-align: right;
    }

    .footer-icons {
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

  }
}